<h1>Создание</h1>
<form class="wrapper" (submit)="create()">
    <md-input-container class="name">
        <input mdInput [(ngModel)]="order.Name" name="name" placeholder="Название" required>
    </md-input-container>
    <div class="column">
        <md-input-container>
            <input mdInput [(ngModel)]="order.CustomerEmail" name="customerEmail" placeholder="Email заказчика" required>
        </md-input-container>
        <md-input-container>
            <input mdInput [mdDatepicker]="picker" [(ngModel)]="date" name="deadline" placeholder="Срок до">
            <button mdSuffix [mdDatepickerToggle]="picker"></button>
            <md-datepicker #picker></md-datepicker>
        </md-input-container>
    </div>
    <md-input-container class="delivery">
        <textarea rows="3" mdInput [(ngModel)]="order.DeliveryAddress" name="DeliveryAddress" placeholder="Адрес доставки"></textarea>
    </md-input-container>
    <lr-button>Создать</lr-button>
</form>
<!-- <h1>Переписка с заказчиком</h1> -->
