<h1>Мой профиль</h1>
<div class="profile">
    <md-icon>person</md-icon>
    <form>
        <md-input-container>
                <input mdInput placeholder="Имя, Фамилия">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Email">
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Телефон">
        </md-input-container>
        <md-input-container>
            <textarea mdInput placeholder="О себе"></textarea>
        </md-input-container>
    </form>
</div>
