md-icon
    padding: 1rem
    width: 6rem
    height: 6rem
    float: left
    margin-right: 1rem

    background-color: $accent
    border-radius: 50%
    font-size: 6rem
    color: white
.left
    display: flex
    flex-direction: column
    width: 20rem

lr-upload
    position: absolute
