<h1>Мой профиль</h1>
<div class="wrapper">
    <md-icon>person</md-icon>
    <form (submit)="update()">
        <div class="left">
            <md-input-container>
                <input mdInput placeholder="Имя, Фамилия" [(ngModel)]="user.Name" name="name">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Email" [(ngModel)]="user.Email" name="email">
            </md-input-container>
            <md-input-container>
                <input mdInput placeholder="Телефон" [(ngModel)]="user.Phone" name="phone">
            </md-input-container>
            <md-input-container>
                <textarea mdInput placeholder="О себе" [(ngModel)]="user.About" name="about"></textarea>
            </md-input-container>
        </div>
        <lr-button [loading]="responding">СОХРАНИТЬ</lr-button>
    </form>
</div>