<section class="slogan">
  <h1>Мы упростили <br> вашу работу</h1>
  <p><span class="grey">Light</span>Order - это система быстрого приёма <br>и обработки заказов.</p>
  <p>Она позволяет ускорить процесс заказа для клиента и упростить <br>выполнение этого заказа для вас.</p>
</section>

<section class="for-who" id="for-who">
  <h2>Кому это нужно?</h2>
  <div class="examples">
    <div class="example">
      <img src="assets/img/for-who-polygraphy.png">
      Полиграфиям и мастерским
    </div>
    <div class="example">
      <img src="assets/img/for-who-advertisment.png">
      Рекламным агенствам
    </div>
    <div class="example">
      <img src="assets/img/for-who-everyone.png">
      И вообще всем, кто оказывает услуги
    </div>
  </div>
</section>

<section class="help" id="help">
  <h2>С чем поможет?</h2>
  <ul>
    <li>Общение с клиентом</li>
    <li>Выполнение заказа</li>
    <li>Выполнение заказа</li>
    <li>Выполнение заказа</li>
    <li>Выполнение заказа</li>
  </ul>
</section>

<section class="time">
  <h2>LightOrder позволяет сократить время выполнения заказа</h2>
  <div class="without">
    <h3>Как обычно</h3>
    <div class="step">
      <div class="number">5</div>
      <p>Клиент отправляет письмо с макетом визитки.
        Хочет напечатать 500 штук</p>
    </div>
    <div class="step">
      <div class="number">180</div>
      <p>Вы говорите, что для печати вам нужна предоплата. Клиент
        приходит к вам в офис и отдаёт деньги и макет на флешке
      </p>
    </div>
    <div class="step">
      <div class="number">5</div>
      <p>Макет оказался не переведённым в кривые. Вы просите клиента перевести и отправить почтой</p>
    </div>
    <div class="step">
      <div class="number">5</div>
      <p>Клиент отправляет исправленный макет по электронной почте</p>
    </div>
    <div class="step">
      <div class="number">3</div>
      <p>Вы пересылаете письмо в производство со своими пометками</p>
    </div>
    <div class="step">
      <div class="number">120</div>
      <p>Заказ выполняется</p>
    </div>
    <div class="step">
      <div class="number">5</div>
      <p>После выполнения задачи вы звоните или пишете клиенту</p>
    </div>
  </div>

  <div class="with">
    <h3>Как с LightOrder</h3>
    <div class="step">
      <div class="number">3</div>
      <p>Клиент выбирает печать визитки на вашем сайте, приклепляет макет и указывает количество</p>
    </div>
    <div class="step">
      <div class="number">5</div>
      <p>Вы проверяете пришедший заказ и пишете сообщение о том, что нужно переделать макет
      </p>
    </div>
    <div class="step">
      <div class="number">5</div>
      <p>Клиент исправляет макет и прикрепляет его прямо к заказу</p>
    </div>
    <div class="step">
      <div class="number">7</div>
      <p>Вы снова проверяете макет и помечаете заказ, как проверенный. Теперь клиент может его оплатить, просто перейдя по ссылке</p>
    </div>
    <div class="step">
      <div class="number">3</div>
      <p>Вы ставите задачу в производство через LightOrder</p>
    </div>
    <div class="step">
      <div class="number">120</div>
      <p>Заказ выполняется</p>
    </div>
    <div class="step">
      <div class="number">1</div>
      <p>Выполнив зака, вы помечаете его, и клиенту приходит уведомление</p>
    </div>
  </div>

  <lr-button routerLink="enter" >Попробуйте и проверье сами</lr-button>
</section>


<section class="advantages">
  <h2>И ещё несколько преимуществ</h2>
  <p>Удобно для ваших клиентов</p>
  <p>Снижает финансовые риски</p>
  <p>Упрощает общение</p>
</section>

<section class="questions" id="questions">
  <h2>Частые вопросы</h2>
  <div class="column">
    <h3>Сколько стоит?</h3>
    <p>Первые два месяца бесплатно. Далее - 10 рублей за каждый заведённый в систему заказ.</p>
  </div>
  <div class="column">
    <h3>Как клиент сможет оплатить наши услуги?</h3>
    <p>Вы проверяете заказ, и клиенту отправляется ссылка на почту.
Пока что система позволяет оплачивать заказы через Яндекс.Деньги и банковскую карту. Платёж клиента поступит к вам на Яндекс-кошелек.
    </p>
  </div>
  <div class="column">
    <h3>Как начать пользоваться?</h3>
    <p>Просто начните. Это реально очень быстро и безумно эффективно.
      Вам понадобится доступ на редактирование вашего сайта, чтобы добавить виджет LightOrder.</p>
  </div>
</section>
