.slogan
  padding: 4rem 2.5%
  margin: 0 -2.7%
  background-color: $accent
  h1
    color: #fff
    font-size: 3rem
    font-weight: 400
    line-height: 1.2
  p
    color: #fff
    font-weight: 400
    &:first-child
    margin: 2rem 0
    .grey
      color: $darkgrey

.for-who
  background-color: #fff
  padding: 3rem 0
  .examples
    display: flex
    justify-content: space-between
    .example
      width: 30%
      text-align: center

.help
  padding: 1rem 0

.time
  padding: 1rem 0
  h3
    color: $accent
    font-weight: 500
  .with,
  .without
    display: inline-block
    width: 49%
  lr-button
    margin: 2rem auto 0
