<h1>Заказ</h1>
<div class="info wrapper">
    <div class="left">
        <h2>{{order.Name}}</h2>
        <p>Заказчик: {{order?.CustomerUser?.Name || 'Неизвестен'}}</p>
        <p>Дата создания: {{order.Created}}</p>
    </div>
    <form #form="ngForm" class="form">
        <div class="column">
            <md-input-container>
                <input mdInput [(ngModel)]="order.Price" name="customerEmail" placeholder="Цена" required>
            </md-input-container>
            <mat-input-container>
                <input mdInput disabled [(ngModel)]="order.Deadline" name="deadline" placeholder="Срок до">
                <!-- <button mdSuffix [mdDatepickerToggle]="picker"></button>
                <md-datepicker #picker></md-datepicker> -->
            </mat-input-container>
        </div>
        <md-input-container class="delivery">
            <textarea rows="3" mdInput [(ngModel)]="order.DeliveryAddress" name="DeliveryAddress" placeholder="Адрес доставки"></textarea>
        </md-input-container>
    </form>
    <div class="buttons">
        <lr-button (click)="update()">СОХРАНИТЬ</lr-button>
    </div>
</div>
<h1>Переписка с заказчиком</h1>

<div class="chat wrapper">
    <div class="comments">
        <div class="comment" *ngFor="let comment of comments">
            <md-icon>face</md-icon>
            <div class="message">
                <p class="name">{{comment?.User?.Name}}</p>
                <p>{{comment.Text}}</p>
            </div>
        </div>
    </div>
    <form class="comment-input" (submit)="send()">
        <md-input-container>
            <input id="commentInput" mdInput [(ngModel)]="text" name="text" placeholder="Введите сообщение">
        </md-input-container>
    </form>
</div>
<!-- <form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
    <input type="hidden" name="receiver" value="41001147395190">
    <input type="hidden" name="formcomment" value="Артём Художников [Light Order]">
    <input type="hidden" name="quickpay-form" value="donate">
    <input type="hidden" name="targets" value="Оплата за заказ № XXXXX. ">
    <input type="hidden" name="sum" value="4568.25" data-type="number">
    <input type="hidden" name="need-fio" value="true">
    <input type="hidden" name="need-email" value="true">
    <input type="hidden" name="need-phone" value="false">
    <input type="hidden" name="need-address" value="false">
    <label>
        <input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label>
    <label>
        <input type="radio" name="paymentType" value="AC">Банковской картой</label>
    <input color="accent" type="submit">
</form> -->