<div class="content">
	<header>
		<div class="container">
			<img [routerLink]="hasToken ? '/orders' : '/'" src="assets/img/logo.png" alt="Light Order">
			<a routerLinkActive="active" routerLink="/orders" [routerLinkActiveOptions]="{exact: true}">Заказы</a>
			<a routerLinkActive="active">Клиенты</a>
			<a routerLinkActive="active">Услуги</a>
			<!-- <a routerLinkActive="active" routerLink="/payments">Оплаты</a> -->
			<a routerLinkActive="active" *ngIf="user" class="command"><md-icon>mail</md-icon></a>
			<a routerLinkActive="active" *ngIf="user" routerLink="/profile" class="profile"><md-icon>face</md-icon>{{user?.Name ? user.Name : user?.Email}}</a>
			<a routerLinkActive="active" *ngIf="user" (click)="logout()">Выход</a>
			<a routerLinkActive="active" class="enter" *ngIf="!user" routerLink="/enter">Вход</a>
		</div>
	</header>
	<lr-progress></lr-progress>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>

<lr-footer></lr-footer>
