<div class="content" #content [ngClass]="{lesser: lesserHeader}">
	<header [ngClass]="{lesser: lesserHeader}">
		<div class="container" >
			<img [routerLink]="hasToken ? '/orders' : '/'" src="assets/img/logo.png" alt="Light Order" [ngx-scroll-to]="content">
			<a routerLinkActive="active" routerLink="/orders" [routerLinkActiveOptions]="{exact: true}" *ngIf="user">Заказы</a>
			<a routerLinkActive="active" *ngIf="user">Клиенты</a>
			<a routerLinkActive="active" *ngIf="user">Услуги</a>
			<!-- <a routerLinkActive="active" routerLink="/payments">Оплаты</a> -->

			<a *ngIf="!user" routerLink="/" ngx-scroll-to="for-who">Для кого</a>
			<a *ngIf="!user" routerLink="/" ngx-scroll-to="help">Функции</a>
			<a *ngIf="!user" routerLink="/" ngx-scroll-to="questions">Вопросы</a>

			<a routerLinkActive="active" *ngIf="user" class="command"><md-icon>mail</md-icon></a>
			<a routerLinkActive="active" *ngIf="user" routerLink="/profile" class="profile"><md-icon>face</md-icon>{{user?.Name ? user.Name : user?.Email}}</a>
			<a routerLinkActive="active" *ngIf="user" (click)="logout()">Выход</a>
			<a routerLinkActive="active" class="enter" *ngIf="!user" routerLink="/enter">Вход</a>
		</div>
	</header>
	<lr-progress></lr-progress>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>

<lr-footer></lr-footer>
